.add-city {
  background-color: forestgreen;
  color: white;
  font-weight: bold;
  border: 1px solid gray;
  padding: 4px;
  border-radius: 4px;
  transition: all 0.5s
}

.add-city:hover {
  background-color: darkgreen;
  border-color: darkslategrey;
}

input {
  width: 150px;
  font-size: 0.8rem;

}

#main-cont {
  position: absolute;
}

.city-cont {
  display: block;
  float: left;
  max-width: 175px;
  position: relative;
  top: 0;
}

.suggest {
  overflow-wrap: break-word;
  font-size: 0.7rem;
  overflow: hidden;
}

.span-city:hover {
  text-decoration: underline;
  cursor: pointer;
}

.show-distance {
  position: relative;
  padding: 5px;
  border: 1px solid black;
  top: 0;
  background-color: lightslategray;
  color: white;
  text-align: left;
  vertical-align: middle;
}

.mega-head {
  display: block;
  width: 200px;
  position: relative;
  top: 130px;
  margin: 0 auto;
  text-align: center;

}

.dot {
  min-height: 6px;
  min-width: 6px;
  border-radius: 3px;
  background-color: red;
  position: absolute;
}

#dot-five {
  top: 200px;
  left: 200px;
}

#dot-four {
  top: 397px;
  left: 100px;
}

#dot-three {
  top: 150px;
  left: 397px;
}

#dot-two {
  top: 315px;
  left: -3px;
}

#dot-one {
  top: -3px;
  left: 112px;
}

.hide-dot {
  display: none !important;
}

.mega-box {
  position: relative;
  top: 150px;
  margin: 0 auto;
  width: 400px;
  height: 400px;
  background-color: #ccc;
}

.button {
  position: relative;
  top: 170px;
  margin: 0 auto;
  display: block;
  width: 200px;
}
